body {
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #3a3939;
}

header {
    background-color: #4996ad;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(150, 0, 0);
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    background-color: rgb(141, 140, 141);
    border-radius: 40px;
    box-shadow: 30px 5px 5px rgba(255, 0, 0, 0.5);
}

section img {
    display: block;
    margin: 10px 0;
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #6e0101;
    color: rgb(17, 29, 197);
}
button {
    width: 10em;
  height: 5ex;
  background-color: gold;
  border: 2px solid firebrick;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
button:hover {
    background-color: bisque;
}
div {
  display: flex;
justify-content: center;
}