body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form {
    background-color: lightpink;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2);
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: violet;
    color: #47264E;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #376785;
}